# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore sensitive or temporary files
.env
Thumbs.db
# Ignore build and output directories
client/build/
server/dist/
client/.cache/

# Logs
*.log
server/logs/
npm-debug.log*